<footer>
    <p>PAC1 de l'assignatura Eines HTML i CSS</p>
    <author>Jordi Cruz Lladó</author>

    <div id="theme-toggler">
        <div class="btn-group" role="group" aria-label="Theme toggler">
            <input type="radio" name="theme" id="theme-light-radio" autocomplete="off" />
            <label class="btn btn-outline-primary light" for="theme-light-radio" id="theme-light">
                <i data-feather="sun"></i>
            </label>
            <input type="radio" name="theme" id="theme-osdefault-radio" autocomplete="off" checked />
            <label class="btn btn-outline-primary osdefault" for="theme-osdefault-radio" id="theme-osdefault">
                <i data-feather="monitor"></i>
            </label>
            <input type="radio" name="theme" id="theme-dark-radio" autocomplete="off" />
            <label class="btn btn-outline-primary dark" for="theme-dark-radio" id="theme-dark">
                <i data-feather="moon"></i>
            </label>
        </div>
    </div>

</footer>