<footer>
    <!-- <img src="/src/img/UocPeace.png"> -->

    <picture>
        <source media="(min-width: 1201px)" srcset="src/img/UocPeace.png, src/img/UocPeace-2x.png 2x">
        <source media="(max-width: 768px)" srcset="src/img/UocPeace-small.png, src/img/UocPeace-small-2x.png 2x">
        <img src="src/img/UocPeace.png" srcset="src/img/UocPeace-2x.png 2x" alt="UOC Peace, logotip">
    </picture>

    <nav>
        <a href="/index.html">Portada</a>
        <a href="/categoria.html">Categoria</a>
        <a href="/presentacio.html">Presentació</a>
        <a href="/enllacos.html">Enllaços</a>
    </nav>

    <div id="theme-toggler">
        <div class="btn-group" role="group" aria-label="Theme toggler">
            <input type="radio" name="theme" id="theme-light-radio" autocomplete="off" aria-hidden="true" />
            <label class="btn btn-outline-primary light" for="theme-light-radio" id="theme-light">
                <i data-feather="sun" aria-hidden="true"></i>
            </label>
            <input type="radio" name="theme" id="theme-osdefault-radio" autocomplete="off" checked aria-hidden="true" />
            <label class="btn btn-outline-primary osdefault" for="theme-osdefault-radio" id="theme-osdefault">
                <i data-feather="monitor" aria-hidden="true"></i>
            </label>
            <input type="radio" name="theme" id="theme-dark-radio" autocomplete="off" aria-hidden="true" />
            <label class="btn btn-outline-primary dark" for="theme-dark-radio" id="theme-dark">
                <i data-feather="moon" aria-hidden="true"></i>
            </label>
        </div>
    </div>

</footer>