<header>
    <!-- <img class="logo" src="/src/img/UocPeace-200.png" alt="UOC Peace, logotip"> -->
    <picture>
        <source media="(min-width: 1201px)" srcset="src/img/UocPeace.png, src/img/UocPeace-2x.png 2x">
        <source media="(max-width: 768px)" srcset="src/img/UocPeace-small.png, src/img/UocPeace-small-2x.png 2x">
        <img src="src/img/UocPeace.png" srcset="src/img/UocPeace-2x.png 2x" alt="UOC Peace, logotip">
    </picture>

    <h1>Cerquem l'aprovat a la Grand Line!</h1>
    <nav class="menu">
        <a href="/index.html"><i data-feather="home"></i>Portada</a>
        <a href="/categoria.html"><i data-feather="trello"></i>Categoria</a>
        <a href="/presentacio.html"><i data-feather="layout"></i>Presentació</a>
        <a href="/enllacos.html"><i data-feather="link"></i>Enllaços</a>
    </nav>
</header>